.create-box {
    background: white;
    width: 300px;
    padding: 20px;
    margin: 40px auto;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-box h2 {
    text-align: center;
    margin-bottom: 15px;
}

.create-box input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.create-box button {
    width: 100%;
    padding: 8px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}