.login-box {
    background: white;
    width: 260px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 15px;
}

.login-box input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.login-box button {
    width: 100%;
    padding: 8px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
}